* {
    font-family: Arial, Helvetica, sans-serif;
    color: #ffffff;
}

body{
    background-color: darkblue;
}

nav ul li{
    display: flex;
}

div{
    padding: 10px;
}

h1{
    margin: 40px;  
    font-size: 20px;
    font-weight: bold;
}
main{
    display: flex;
    flex-direction: column;
}

footer{
    margin: 15px;
}

.skip a{
    position: relative;
    top: -90px;
}
  
  /* Step 2b: Write selector/rule property to position the skip class element when it is in focus*/
  
.skip a:focus{
    top: 15px;
}

.skip a:visited{
    color: #ffffff;
}

div img{
    border: yellow solid 9px;
    border-radius: 6px;
}
/* nav buttons */
.btn {
    background: #3498db;
    background-image: -webkit-linear-gradient(top, #3498db, #2980b9);
    background-image: -moz-linear-gradient(top, #3498db, #2980b9);
    background-image: -ms-linear-gradient(top, #3498db, #2980b9);
    background-image: -o-linear-gradient(top, #3498db, #2980b9);
    background-image: linear-gradient(to bottom, #3498db, #2980b9);
    -webkit-border-radius: 28;
    -moz-border-radius: 28;
    border-radius: 28px;
    font-family: Arial;
    color: #ffffff;
    font-size: 18px;
    padding: 10px 20px 10px 20px;
    text-decoration: none;
    margin: 5px;
  }

  .here{
    font-weight: bold;
  }
  
  .btn:hover, .btn:focus {
    background: #3cb0fd;
    background-image: -webkit-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -moz-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -ms-linear-gradient(top, #3cb0fd, #3498db);
    background-image: -o-linear-gradient(top, #3cb0fd, #3498db);
    background-image: linear-gradient(to bottom, #3cb0fd, #3498db);
    text-decoration: none;
    font-style: italic;
    margin: 5px;
  }

/* breakpoint decided by the width of Nexus 7 (2013) viewport size */

@media screen and (min-width: 600px){
    ul{
        display: flex;
        align-items: center;
        flex-wrap: wrap;
    }
}

/* breakpoint decided by the width of iPad Pro viewport size of 768px, plus a bit less due to minumum needed for nav to span one row from link emphasis*/

@media screen and (min-width: 745px){
    h1{
        font-size: 24px;
    }
    p{
        font-size: 18px;
        width: 70%;
    }
}